*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgba(215, 246, 246, 0.486);
}
.loginMaincontainer{
    width: 99vw;
    height: 99vh;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    display: flex;
}
.loginContainer{
    width: 400px;
    height: 400px;
    border: 1px solid lightblue;
    background-color: white;
    border-radius: 20px;
    box-shadow: 8px 8px rgb(190, 188, 188);
    text-align: center;
}
h3{
    text-align: center;
    font-family: sans-serif;
    font-size: x-large;
    margin-top: 40px;
}
input{
    margin-top: 20px;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid black;
}
.Forget {
    margin-left: 200px;
    line-height: 30px;
}
a{
    color: rgb(232, 37, 37);
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
button{
    padding: 10px;
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
    background-color:rgba(215, 246, 246, 0.486);;
}
p{
    /* border: 1px solid black; */
    margin-top: 20px;
    margin-left: 30px;
    width: 250px;
}
